<turbo-frame id="<%= turbo_frame_id %>">
    <% if authorized? %>
        <div class="row">
            <div class="col-12 tableau-embed-container">
                <tableau-viz
                    id='<%= "tableau-viz-#{turbo_frame_id}" %>'
                    class='justify-content-center'
                    src='<%= embed_url %>'
                    <% if token && !Rails.env.local? %> token='<%= token %>'<% end %>
                    toolbar='bottom'>
                </tableau-viz>
            </div>
        </div>
    <% else %>
        <%= render ErrorComponent.new %>
    <% end %>
</turbo-frame>
