<turbo-frame id="<%= turbo_frame_id %>">
    <div class="text-end mb-3">
        <%= link_to Settings.dashboard.help_url, class: 'text-end link-primary text-decoration-underline' do %>
            <i class="bi bi-box-arrow-up-right me-1"></i> Questions? Read the Dashboard FAQ and Documentation
        <% end %>
    </div>
    <% if authorized? %>
        <div class="row">
            <div class="col-12">
                <script type='module' src='<%= Settings.tableau.base_url %>/javascripts/api/tableau.embedding.3.latest.min.js'></script>
                <tableau-viz
                    id='tableau-viz'
                    class='justify-content-center'
                    src='<%= embed_url %>'
                    <% if token && !Rails.env.local? %> token='<%= token %>'<% end %>
                    toolbar='top'>
                </tableau-viz>
            </div>
        </div>
    <% else %>
        <%= render ErrorComponent.new %>
    <% end %>
</turbo-frame>
